.main{
    background-color: #fff;;    
    width: 500px;
    margin: 50px auto;
    }
    
    
    .body-set
    {
        text-align: center;
        align-content: center;
    }
    .wrapper
    {
        width: 405px;
        height: auto;
        background-color: #fff;
        box-shadow: 0 1px 16px rgb(126 126 126 / 28%);
        padding: 0;
        border-radius: 16px;
        border: 1px dashed #b7b7b7;
        margin: 65px auto;
    
    }